*.jpg filter=lfs diff=lfs merge=lfs -text lockable
*.bzip2 filter=lfs diff=lfs merge=lfs -text lockable
*.lzo filter=lfs diff=lfs merge=lfs -text lockable
*.pot filter=lfs diff=lfs merge=lfs -text lockable
*.lvp filter=lfs diff=lfs merge=lfs -text lockable
*.m4a filter=lfs diff=lfs merge=lfs -text lockable
*.mdi filter=lfs diff=lfs merge=lfs -text lockable
*.apk filter=lfs diff=lfs merge=lfs -text lockable
*.caf filter=lfs diff=lfs merge=lfs -text lockable
*.dex filter=lfs diff=lfs merge=lfs -text lockable
*.pea filter=lfs diff=lfs merge=lfs -text lockable
*.tlz filter=lfs diff=lfs merge=lfs -text lockable
*.wvx filter=lfs diff=lfs merge=lfs -text lockable
*.dts filter=lfs diff=lfs merge=lfs -text lockable
*.qt filter=lfs diff=lfs merge=lfs -text lockable
*.whl filter=lfs diff=lfs merge=lfs -text lockable
*.3ds filter=lfs diff=lfs merge=lfs -text lockable
*.au filter=lfs diff=lfs merge=lfs -text lockable
*.pptx filter=lfs diff=lfs merge=lfs -text lockable
*.zip filter=lfs diff=lfs merge=lfs -text lockable
*.cr2 filter=lfs diff=lfs merge=lfs -text lockable
*.gif filter=lfs diff=lfs merge=lfs -text lockable
*.mp4a filter=lfs diff=lfs merge=lfs -text lockable
*.mka filter=lfs diff=lfs merge=lfs -text lockable
*.png filter=lfs diff=lfs merge=lfs -text lockable
*.pya filter=lfs diff=lfs merge=lfs -text lockable
*.xpm filter=lfs diff=lfs merge=lfs -text lockable
*.aiff filter=lfs diff=lfs merge=lfs -text lockable
*.asf filter=lfs diff=lfs merge=lfs -text lockable
*.gzip filter=lfs diff=lfs merge=lfs -text lockable
*.bmp filter=lfs diff=lfs merge=lfs -text lockable
*.mar filter=lfs diff=lfs merge=lfs -text lockable
*.ppm filter=lfs diff=lfs merge=lfs -text lockable
*.uvm filter=lfs diff=lfs merge=lfs -text lockable
*.aif filter=lfs diff=lfs merge=lfs -text lockable
*.dxf filter=lfs diff=lfs merge=lfs -text lockable
*.lzh filter=lfs diff=lfs merge=lfs -text lockable
*.m3u filter=lfs diff=lfs merge=lfs -text lockable
*.3gp filter=lfs diff=lfs merge=lfs -text lockable
*.deb filter=lfs diff=lfs merge=lfs -text lockable
*.icns filter=lfs diff=lfs merge=lfs -text lockable
*.bz2 filter=lfs diff=lfs merge=lfs -text lockable
*.pages filter=lfs diff=lfs merge=lfs -text lockable
*.ogg filter=lfs diff=lfs merge=lfs -text lockable
*.ppt filter=lfs diff=lfs merge=lfs -text lockable
*.raw filter=lfs diff=lfs merge=lfs -text lockable
*.rlc filter=lfs diff=lfs merge=lfs -text lockable
*.ttf filter=lfs diff=lfs merge=lfs -text lockable
*.wdp filter=lfs diff=lfs merge=lfs -text lockable
*.bh filter=lfs diff=lfs merge=lfs -text lockable
*.fbs filter=lfs diff=lfs merge=lfs -text lockable
*.pptm filter=lfs diff=lfs merge=lfs -text lockable
*.scpt filter=lfs diff=lfs merge=lfs -text lockable
*.dra filter=lfs diff=lfs merge=lfs -text lockable
*.jpm filter=lfs diff=lfs merge=lfs -text lockable
*.rmvb filter=lfs diff=lfs merge=lfs -text lockable
*.doc filter=lfs diff=lfs merge=lfs -text lockable
*.xlsb filter=lfs diff=lfs merge=lfs -text lockable
*.djvu filter=lfs diff=lfs merge=lfs -text lockable
*.thmx filter=lfs diff=lfs merge=lfs -text lockable
*.uvu filter=lfs diff=lfs merge=lfs -text lockable
*.h261 filter=lfs diff=lfs merge=lfs -text lockable
*.potm filter=lfs diff=lfs merge=lfs -text lockable
*.uvp filter=lfs diff=lfs merge=lfs -text lockable
*.dotm filter=lfs diff=lfs merge=lfs -text lockable
*.xls filter=lfs diff=lfs merge=lfs -text lockable
*.jpgv filter=lfs diff=lfs merge=lfs -text lockable
*.mobi filter=lfs diff=lfs merge=lfs -text lockable
*.ogv filter=lfs diff=lfs merge=lfs -text lockable
*.cab filter=lfs diff=lfs merge=lfs -text lockable
*.dll filter=lfs diff=lfs merge=lfs -text lockable
*.ico filter=lfs diff=lfs merge=lfs -text lockable
*.cpio filter=lfs diff=lfs merge=lfs -text lockable
*.dcm filter=lfs diff=lfs merge=lfs -text lockable
*.zipx filter=lfs diff=lfs merge=lfs -text lockable
*.ppa filter=lfs diff=lfs merge=lfs -text lockable
*.sil filter=lfs diff=lfs merge=lfs -text lockable
*.docm filter=lfs diff=lfs merge=lfs -text lockable
*.mxu filter=lfs diff=lfs merge=lfs -text lockable
*.potx filter=lfs diff=lfs merge=lfs -text lockable
*.h264 filter=lfs diff=lfs merge=lfs -text lockable
*.smv filter=lfs diff=lfs merge=lfs -text lockable
*.m4v filter=lfs diff=lfs merge=lfs -text lockable
*.z filter=lfs diff=lfs merge=lfs -text lockable
*.BMP filter=lfs diff=lfs merge=lfs -text lockable
*.dot filter=lfs diff=lfs merge=lfs -text lockable
*.exe filter=lfs diff=lfs merge=lfs -text lockable
*.tbz filter=lfs diff=lfs merge=lfs -text lockable
*.wax filter=lfs diff=lfs merge=lfs -text lockable
*.arj filter=lfs diff=lfs merge=lfs -text lockable
*.sub filter=lfs diff=lfs merge=lfs -text lockable
*.war filter=lfs diff=lfs merge=lfs -text lockable
*.dat filter=lfs diff=lfs merge=lfs -text lockable
*.mpeg filter=lfs diff=lfs merge=lfs -text lockable
*.pgm filter=lfs diff=lfs merge=lfs -text lockable
*.tga filter=lfs diff=lfs merge=lfs -text lockable
*.ai filter=lfs diff=lfs merge=lfs -text lockable
*.pyo filter=lfs diff=lfs merge=lfs -text lockable
*.rz filter=lfs diff=lfs merge=lfs -text lockable
*.pyc filter=lfs diff=lfs merge=lfs -text lockable
*.sgi filter=lfs diff=lfs merge=lfs -text lockable
*.aac filter=lfs diff=lfs merge=lfs -text lockable
*.epub filter=lfs diff=lfs merge=lfs -text lockable
*.mov filter=lfs diff=lfs merge=lfs -text lockable
*.jar filter=lfs diff=lfs merge=lfs -text lockable
*.mp3 filter=lfs diff=lfs merge=lfs -text lockable
*.pcx filter=lfs diff=lfs merge=lfs -text lockable
*.xlam filter=lfs diff=lfs merge=lfs -text lockable
*.docx filter=lfs diff=lfs merge=lfs -text lockable
*.eot filter=lfs diff=lfs merge=lfs -text lockable
*.h263 filter=lfs diff=lfs merge=lfs -text lockable
*.pyv filter=lfs diff=lfs merge=lfs -text lockable
*.rgb filter=lfs diff=lfs merge=lfs -text lockable
*.xbm filter=lfs diff=lfs merge=lfs -text lockable
*.gz filter=lfs diff=lfs merge=lfs -text lockable
*.pdb filter=lfs diff=lfs merge=lfs -text lockable
*.pdf filter=lfs diff=lfs merge=lfs -text lockable
*.xz filter=lfs diff=lfs merge=lfs -text lockable
*.flv filter=lfs diff=lfs merge=lfs -text lockable
*.tgz filter=lfs diff=lfs merge=lfs -text lockable
*.uvh filter=lfs diff=lfs merge=lfs -text lockable
*.ecelp4800 filter=lfs diff=lfs merge=lfs -text lockable
*.mid filter=lfs diff=lfs merge=lfs -text lockable
*.woff2 filter=lfs diff=lfs merge=lfs -text lockable
*.bin filter=lfs diff=lfs merge=lfs -text lockable
*.udf filter=lfs diff=lfs merge=lfs -text lockable
*.uvi filter=lfs diff=lfs merge=lfs -text lockable
*.psd filter=lfs diff=lfs merge=lfs -text lockable
*.graffle filter=lfs diff=lfs merge=lfs -text lockable
*.iso filter=lfs diff=lfs merge=lfs -text lockable
*.oga filter=lfs diff=lfs merge=lfs -text lockable
*.JPEG filter=lfs diff=lfs merge=lfs -text lockable
*.wav filter=lfs diff=lfs merge=lfs -text lockable
*.webp filter=lfs diff=lfs merge=lfs -text lockable
*.key filter=lfs diff=lfs merge=lfs -text lockable
*.pic filter=lfs diff=lfs merge=lfs -text lockable
*.tbz2 filter=lfs diff=lfs merge=lfs -text lockable
*.3g2 filter=lfs diff=lfs merge=lfs -text lockable
*.eol filter=lfs diff=lfs merge=lfs -text lockable
*.ief filter=lfs diff=lfs merge=lfs -text lockable
*.pps filter=lfs diff=lfs merge=lfs -text lockable
*.shar filter=lfs diff=lfs merge=lfs -text lockable
*.slk filter=lfs diff=lfs merge=lfs -text lockable
*.weba filter=lfs diff=lfs merge=lfs -text lockable
*.webm filter=lfs diff=lfs merge=lfs -text lockable
*.DS_Store filter=lfs diff=lfs merge=lfs -text lockable
*.ecelp7470 filter=lfs diff=lfs merge=lfs -text lockable
*.mp4 filter=lfs diff=lfs merge=lfs -text lockable
*.npx filter=lfs diff=lfs merge=lfs -text lockable
*.ppam filter=lfs diff=lfs merge=lfs -text lockable
*.bak filter=lfs diff=lfs merge=lfs -text lockable
*.lha filter=lfs diff=lfs merge=lfs -text lockable
*.mj2 filter=lfs diff=lfs merge=lfs -text lockable
*.xlsm filter=lfs diff=lfs merge=lfs -text lockable
*.xpi filter=lfs diff=lfs merge=lfs -text lockable
*.g3 filter=lfs diff=lfs merge=lfs -text lockable
*.mng filter=lfs diff=lfs merge=lfs -text lockable
*.wbmp filter=lfs diff=lfs merge=lfs -text lockable
*.s3m filter=lfs diff=lfs merge=lfs -text lockable
*.tiff filter=lfs diff=lfs merge=lfs -text lockable
*.xmind filter=lfs diff=lfs merge=lfs -text lockable
*.ar filter=lfs diff=lfs merge=lfs -text lockable
*.fli filter=lfs diff=lfs merge=lfs -text lockable
*.rar filter=lfs diff=lfs merge=lfs -text lockable
*.ppsm filter=lfs diff=lfs merge=lfs -text lockable
*.wm filter=lfs diff=lfs merge=lfs -text lockable
*.xlt filter=lfs diff=lfs merge=lfs -text lockable
*.dsk filter=lfs diff=lfs merge=lfs -text lockable
*.lz filter=lfs diff=lfs merge=lfs -text lockable
*.otf filter=lfs diff=lfs merge=lfs -text lockable
*.ipa filter=lfs diff=lfs merge=lfs -text lockable
*.lib filter=lfs diff=lfs merge=lfs -text lockable
*.tif filter=lfs diff=lfs merge=lfs -text lockable
*.alz filter=lfs diff=lfs merge=lfs -text lockable
*.cgm filter=lfs diff=lfs merge=lfs -text lockable
*.f4v filter=lfs diff=lfs merge=lfs -text lockable
*.wim filter=lfs diff=lfs merge=lfs -text lockable
*.baml filter=lfs diff=lfs merge=lfs -text lockable
*.csv filter=lfs diff=lfs merge=lfs -text lockable
*.tar filter=lfs diff=lfs merge=lfs -text lockable
*.ttc filter=lfs diff=lfs merge=lfs -text lockable
*.xltm filter=lfs diff=lfs merge=lfs -text lockable
*.xltx filter=lfs diff=lfs merge=lfs -text lockable
*.a filter=lfs diff=lfs merge=lfs -text lockable
*.dmg filter=lfs diff=lfs merge=lfs -text lockable
*.nef filter=lfs diff=lfs merge=lfs -text lockable
*.wmx filter=lfs diff=lfs merge=lfs -text lockable
*.xlsx filter=lfs diff=lfs merge=lfs -text lockable
*.xm filter=lfs diff=lfs merge=lfs -text lockable
*.midi filter=lfs diff=lfs merge=lfs -text lockable
*.mkv filter=lfs diff=lfs merge=lfs -text lockable
*.wmv filter=lfs diff=lfs merge=lfs -text lockable
*.pnm filter=lfs diff=lfs merge=lfs -text lockable
*.rmf filter=lfs diff=lfs merge=lfs -text lockable
*.mpga filter=lfs diff=lfs merge=lfs -text lockable
*.resources filter=lfs diff=lfs merge=lfs -text lockable
*.txz filter=lfs diff=lfs merge=lfs -text lockable
*.vob filter=lfs diff=lfs merge=lfs -text lockable
*.fst filter=lfs diff=lfs merge=lfs -text lockable
*.ras filter=lfs diff=lfs merge=lfs -text lockable
*.swf filter=lfs diff=lfs merge=lfs -text lockable
*.viv filter=lfs diff=lfs merge=lfs -text lockable
*.7z filter=lfs diff=lfs merge=lfs -text lockable
*.adp filter=lfs diff=lfs merge=lfs -text lockable
*.mht filter=lfs diff=lfs merge=lfs -text lockable
*.o filter=lfs diff=lfs merge=lfs -text lockable
*.rtf filter=lfs diff=lfs merge=lfs -text lockable
*.xif filter=lfs diff=lfs merge=lfs -text lockable
*.wma filter=lfs diff=lfs merge=lfs -text lockable
*.bk filter=lfs diff=lfs merge=lfs -text lockable
*.egg filter=lfs diff=lfs merge=lfs -text lockable
*.lzma filter=lfs diff=lfs merge=lfs -text lockable
*.img filter=lfs diff=lfs merge=lfs -text lockable
*.pbm filter=lfs diff=lfs merge=lfs -text lockable
*.xla filter=lfs diff=lfs merge=lfs -text lockable
*.numbers filter=lfs diff=lfs merge=lfs -text lockable
*.uvs filter=lfs diff=lfs merge=lfs -text lockable
*.so filter=lfs diff=lfs merge=lfs -text lockable
*.cmx filter=lfs diff=lfs merge=lfs -text lockable
*.fvt filter=lfs diff=lfs merge=lfs -text lockable
*.GIF filter=lfs diff=lfs merge=lfs -text lockable
*.dng filter=lfs diff=lfs merge=lfs -text lockable
*.JPG filter=lfs diff=lfs merge=lfs -text lockable
*.movie filter=lfs diff=lfs merge=lfs -text lockable
*.cur filter=lfs diff=lfs merge=lfs -text lockable
*.fh filter=lfs diff=lfs merge=lfs -text lockable
*.sketch filter=lfs diff=lfs merge=lfs -text lockable
*.rip filter=lfs diff=lfs merge=lfs -text lockable
*.s7z filter=lfs diff=lfs merge=lfs -text lockable
*.jxr filter=lfs diff=lfs merge=lfs -text lockable
*.mmr filter=lfs diff=lfs merge=lfs -text lockable
*.mpg filter=lfs diff=lfs merge=lfs -text lockable
*.ecelp9600 filter=lfs diff=lfs merge=lfs -text lockable
*.jpeg filter=lfs diff=lfs merge=lfs -text lockable
*.xwd filter=lfs diff=lfs merge=lfs -text lockable
*.btif filter=lfs diff=lfs merge=lfs -text lockable
*.dtshd filter=lfs diff=lfs merge=lfs -text lockable
*.dvb filter=lfs diff=lfs merge=lfs -text lockable
*.ppsx filter=lfs diff=lfs merge=lfs -text lockable
*.woff filter=lfs diff=lfs merge=lfs -text lockable
*.dwg filter=lfs diff=lfs merge=lfs -text lockable
*.flac filter=lfs diff=lfs merge=lfs -text lockable
*.fpx filter=lfs diff=lfs merge=lfs -text lockable
*.fla filter=lfs diff=lfs merge=lfs -text lockable
*.ktx filter=lfs diff=lfs merge=lfs -text lockable
*.PNG filter=lfs diff=lfs merge=lfs -text lockable
*.ape filter=lfs diff=lfs merge=lfs -text lockable
*.avi filter=lfs diff=lfs merge=lfs -text lockable
*.class filter=lfs diff=lfs merge=lfs -text lockable
